
a(href="/areaInternaciones/test" class="text-sm text-blue-500 hover:underline block mt-2") ➕ Crear Area
a(href="/areaInternaciones/formularioNuevaHabitacion" class="text-sm text-blue-500 hover:underline block mt-2") ➕ Crear Habitacion
h2(class="text-2xl font-bold mb-6 text-gray-800 text-center") Habitaciones

div(class="overflow-x-auto bg-white p-6 rounded shadow max-w-4xl mx-auto")

  table(class="w-full table-auto border-collapse text-center")
    thead
      tr(class="bg-gray-200 text-gray-700")
        th(class="py-2 px-4") Area
        th(class="py-2 px-4") Número de Habitación
        th(class="py-2 px-4") Tipo
        th(class="py-2 px-4") Estado
        th(class="py-2 px-4") Acciones

    tbody
      each habitacion in habitaciones
        tr(class="border-b hover:bg-gray-50")
          td(class="py-2 px-4")= habitacion.numero
          td(class="py-2 px-4 capitalize")= habitacion.tipo
          td(class="py-2 px-4 capitalize")= habitacion.estado
          td(class="py-2 px-4")
            a(href=`/admin/editarHabitacion/${habitacion.id}` class="text-blue-600 hover:underline mr-2") Editar
            a(href=`/admin/eliminarHabitacion/${habitacion.id}` class="text-red-600 hover:underline") Eliminar

