
a(href="/admin/nuevoUsuario" class="text-sm text-blue-500 hover:underline block mt-2") ➕ Crear nuevo usuario


h2(class="text-2xl font-bold mb-6 text-gray-800 text-center") Gestión de Usuarios

div(class="overflow-x-auto bg-white p-6 rounded shadow max-w-4xl mx-auto")

  table(class="w-full table-auto border-collapse text-center")
    thead
      tr(class="bg-gray-200 text-gray-700")
        th(class="py-2 px-4") Nombre
        th(class="py-2 px-4") Apellido
        th(class="py-2 px-4") Email
        th(class="py-2 px-4") Rol
        th(class="py-2 px-4") Activo

    tbody
      each usuario in usuarios
        tr(class="border-b hover:bg-gray-50")
          td(class="py-2 px-4")= usuario.nombre
          td(class="py-2 px-4 capitalize")= usuario.apellido
          td(class="py-2 px-4 capitalize")= usuario.email
          td(class="py-2 px-4 capitalize")= usuario.rol
                    
          td(class="py-2 px-4")
            a(href=`/admin/editarHabitacion/${usuario.id}` class="text-blue-600 hover:underline mr-2") Editar
            a(href=`/admin/eliminarHabitacion/${usuario.id}` class="text-red-600 hover:underline") Eliminar


