extends ../layouts/layout

block content
  h2(class="text-2xl font-bold mb-6 text-gray-800 text-center") Admisión de Paciente

  div(class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow")
  
    // Nombre del paciente
    div(class="text-center mb-6")
      h3(class="text-lg font-semibold text-gray-700") Paciente
      p(class="text-2xl font-bold text-blue-600 mt-2") #{informacionPaciente.paciente|| 'Nombre del Paciente'}
      p(class="text-2xl font-bold text-blue-600 mt-2") Edad: #{informacionPaciente.edad}
   
    div#datos-paciente(
      data-edad=informacionPaciente.edad
      data-genero=informacionPaciente.genero
      data-nombre=informacionPaciente.paciente 
      data-id_paciente=informacionPaciente.id_paciente
      style="display:none"
)

    // Botones de acción
    div(class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8")
      a(href=`/admision/datos/${informacionPaciente.id_paciente}` class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200 text-center") Datos del Paciente
      a(href=`/admision/mutual/${informacionPaciente.id_paciente}` class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200 text-center") Mutual
      //a(href="/admision/pacientes/ingresos" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200 text-center") Historia Clínica
     

    // Información adicional
    div(class="mb-6 mt-6")
      h3(class="text-lg font-semibold text-gray-700 mb-4") Información Adicional

      div(class="grid grid-cols-1 md:grid-cols-2 gap-4")
        div
          label(for="medico-indicador" class="block text-sm font-medium text-gray-700") Médico que Indica la Internación
          input(type="text" id="medico-indicador" name="medicoIndicador" placeholder="Nombre del médico" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" required)

        div
          label(for="admission-type" class="block text-sm font-medium text-gray-700") Tipo de Ingreso
          select(name="id_ingreso" id="admission-type" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm")
            option(value="" disabled selected) Seleccione tipo de ingreso
            each t_ingreso in tiposIngreso
              option(value=t_ingreso.id_ingreso data-nombre=t_ingreso.nombre) #{t_ingreso.nombre}
      
      div#ingreso-campos.mt-6

   
    div#resultado-sugerencia(class="text-sm text-gray-700 font-semibold mt-2")

    // Asignación de área
    div(class="mb-6")
      h3(class="text-lg font-semibold text-gray-700 mb-4") Asignar Área, Habitación y Cama
      div(class="grid grid-cols-1 md:grid-cols-3 gap-4")
        div
          label(for="hospital-wing" class="block text-sm font-medium text-gray-700") Ala o Area
          select(id="hospital-wing" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" required)
            option(value="") Seleccione una Area
                each a in areas
                  option(value=a.id_area) #{a.nombre_area}

        div
          label(for="room" class="block text-sm font-medium text-gray-700") Habitación
          select(id="room" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" disabled required)
            option(value="") Seleccione un ala primero

        div
          label(for="bed" class="block text-sm font-medium text-gray-700") Cama
          select(id="bed" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" disabled required)
            option(value="") Seleccione una habitación primero

    // Botones de acción final
    div(class="flex justify-end gap-4")
      a(href="/admision/dashboard" class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400 transition duration-200") Cancelar
      button(id="admit-btn" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition duration-200" disabled) Confirmar Internación
   
    // Modal de confirmación
    #modal-confirmacion.hidden.fixed.inset-0.bg-black.bg-opacity-50.flex.items-center.justify-center.z-50
          .bg-white.p-6.rounded.shadow-md.w-96
            h2.text-xl.font-bold.mb-4 Confirmar Internación
            #modal-mensaje.text-sm.mb-4
            .flex.justify-end.space-x-2
              button#btn-cancelar.bg-gray-400.text-white.px-4.py-2.rounded Cancelar
              button#btn-confirmar.bg-green-600.text-white.px-4.py-2.rounded Confirmar

  script(src="/js/paciente.js")
